.git
.venv
.cursor
.DS_Store
**/__pycache__
**/*.py[cod]
**/node_modules
**/dist
**/.eggs
**/*.egg-info

shared
weights
.cache
reports
dataset
notebooks

work_classifier_normalized.sql
work_classifier_vector.sql
dataset/dumps

.env
.python-version
package-lock.json

# Other services are not needed for planning/detecting images
services/core-api
services/web
services/README.md
