DETECTING_PORT=8000
# Docker: /data. Локально: orchestrator/shared
DETECTING_DATA_DIR=/data
DETECTING_REDIS_HOST=localhost
DETECTING_REDIS_PORT=6379
DETECTING_REDIS_DB=0
DETECTING_MAX_CONCURRENT_JOBS=1
DETECTING_QUEUE_LIMIT=32
DETECTING_JOB_TTL_SECONDS=604800
DETECTING_SAVE_REPORTS=false
DETECTING_LOG_LEVEL=INFO
