.venv
weights
.DS_Store
.idea
.vscode/*
!.vscode/settings.json

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.ipynb_checkpoints/
.env
.python-version
reports/

node_modules/
orchestrator/dist
shared/workflows/
shared/.idempotency/


